#scroll-top {
    position: fixed;
    bottom: 1.5rem;
    right: 1rem;
    z-index: 1000;
    transform: translateY(150%);
    transition: 3s;
    cursor: pointer;
}

#scroll-top img {
    width: 4rem;
    /* animation: float 3s linear infinite; */
}


#scroll-top.show {
    transform: translateY(0);
    transition: 3s;
}

#scroll-top.show img {
    animation: float 3s linear infinite;
}


@keyframes float {

    0% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-2rem);
    }

    100% {
        transform: translateY(0rem);
    }
}

.searchBox {

    form {
        margin-bottom: 20px;
    }

    form .form-group .input-group button {
        width: 20%;
    }

    .suggesti {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        .perSuggesti {
            padding: 5px;
        }
    }
}


header.scroll {
    box-shadow: var(--shadow-header);
}

header {
    width: 100%;
    min-height: 10vh;
    max-height: 100%;
    padding: 0 100px;
    transition: .5s;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--hero);
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            // margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }

            // h1 {
            //     font-size: 1.4rem; 
            //     line-height: 22px;
            //     color: var(--putih);
            //     font-weight: 700;

            //     span {
            //         background: linear-gradient(to right, var(--tw-gradient-stops));
            //         background-clip: text;
            //         -moz-background-clip: text;
            //         -webkit-background-clip: text;
            //         -webkit-text-fill-color: transparent;
            //     }
            // }
        }

        nav {
            ul {
                display: flex;

                li {
                    margin: 0 15px;

                    a {
                        font-weight: 500;
                        color: rgb(218, 218, 218);


                        &:hover,
                        &.active {
                            color: var(--putih);
                        }
                    }
                }
            }
        }


        .menu {
            width: 30px;
            height: 20px;
            display: none;
            align-items: end;
            justify-content: space-between;
            flex-direction: column;
            position: relative;

            input {
                width: 100%;
                height: 130%;
                position: absolute;
                top: -3px;
                opacity: 0;
                cursor: pointer;
            }

            span {
                width: 100%;
                height: 4px;
                border-radius: 10px;
                background-color: var(--putih);


                &:nth-child(3) {
                    width: 80%;
                }
            }
        }

    }
}

.containerNavMobile.active {
    transform: translateX(0);
}

.containerNavMobile {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    transition: .5s;
    justify-content: end;
    transform: translateX(120%);
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 9999999;

    .navMobile {
        width: 45%;
        height: 100%;
        overflow-y: auto;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        box-shadow: var(--shadow-header);
        background-color: var(--putih);

        li {
            margin: 10px 0;

            a {
                font-weight: 600;
                color: #525252;

                &:hover,
                &.active {
                    color: #222222;
                }
            }
        }
    }
}


.bg-gradient-to-r {
    background: linear-gradient(to right, var(--tw-gradient-stops)) !important;
    color: var(--putih);
}




.hero {
    width: 100%;
    height: 100vh;
    background-color: var(--hero);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .caption {
            width: 60%;

            h1 {
                font-size: 3rem;
                line-height: 60px;
                color: var(--putih);
                margin-bottom: 20px;

                &.title-tentangKami {
                    font-size: 2rem;
                }

                span {
                    background: linear-gradient(to right, var(--tw-gradient-stops));
                    background-clip: text;
                    -moz-background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            p {
                font-size: 1.2rem;
                color: var(--putih);
                margin: 20px 0;
            }

            .cta {
                a {
                    // background-color: var(--biru-cerah);
                }
            }
        }

        .img {
            width: 40%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}


.series {
    width: 100%;
    height: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .perSeries {
            width: calc(90%/3);
            margin: 30px 10px;

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 10px;
                background-color: var(--putih-900);
            }

            .keterangan {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 1rem;
                    margin: 10px 0;
                }
            }


            h2 {
                font-size: 1rem;
            }
        }
    }

}


.title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.2rem;
        line-height: 30px;
    }
}


.containerFitur {
    width: 100%;
    height: 100%;

    .fitur {
        width: 100%;
        height: 100%;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;

        .perFitur {
            width: calc(90%/3);
            max-height: 300px;
            margin: 10px;
            padding: 20px;
            background-color: var(--putih);
            border-radius: 0.5rem;
            // box-shadow: var(--shadow-header);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1);

            h2 {
                font-weight: 650;
                margin: 30px 0 10px 0;
                font-size: 1.4rem;
                // color: #302f2f;
            }

            p {
                color: #6f6f74;
            }

            .icon {
                width: 60px;
                height: 60px;
                font-size: 1.4rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ffa011;
            }
        }
    }
}



.galeri {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .perGaleri {
        width: calc(100%/4);
        height: 200px;
        object-fit: cover;
        cursor: pointer;
        background-color: var(--putih-900);
    }
}




.containerTopik {
    width: 100%;
    height: 100%;

    .container {


        .topik {
            width: 100%;
            height: 100%;
            padding: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 50px;
            border-radius: 10px;
            background-color: var(--putih-mandan-ireng);

            .perTopik {
                padding: 7px 20px;
                margin: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 7px;
                background-color: var(--putih);

                &:hover {
                    p {
                        color: var(--biru-cerah);
                    }
                }

                span {
                    padding: 10px;
                    font-size: .9rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                    background-color: var(--putih-f2);
                }
            }
        }
    }
}

.containerFAQ {
    width: 100%;
    height: 100%;

    .container .FAQ {
        width: 100%;
        height: 100%;
        display: flex;
        // align-items: center;
        margin-top: 50px;
        justify-content: space-between;

        &.pageFAQ {
            flex-direction: column;
        }

        .kiri,
        .kanan {
            width: 50%;
            height: 100%;
            margin: 0 10px;

        }
    }
}


.perFAQ {
    width: 100%;
    height: 100%;

    .pertanyaan {
        padding: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 7px;
        border-bottom: var(--border);
        background-color: var(--putih-900);

        p {
            font-weight: 600;
        }

        .icon {
            color: var(--hitam-santai);
            fill: var(--hitam-santai);
            font-size: 1.4rem;
            transition: .5s;
        }

        .icon.active {
            transform: rotate(180deg);
        }
    }

    .jawaban {
        padding: 20px;
        display: none;
        border-radius: 7px;
        border: var(--border);

        &.show {
            display: inline-block;
        }
    }
}


.search {
    width: 100%;
    height: 100%;
    background-color: var(--putih-f2);

    .container {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-size: 2rem;
            font-weight: 500;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }

        .searchAlert {
            font-size: .9rem;
        }

        form {

            .form-group {
                width: 700px;

                button {
                    width: 20%;
                }
            }
        }
    }
}


.facebook {
    background-color: #1F79FD !important;
}

.youtube {
    background-color: #E11D48 !important;
}

.discord {
    background-color: #6366F1 !important;
}

.instagram {
    background: linear-gradient(to left bottom, #7A3EBA, #EC4899, #F57461) !important;
}

.twitter {
    background-color: #0EA5E9 !important;
}

.telegram {
    background: linear-gradient(to right bottom, #2EB3EF, #0B8DCF) !important;
}

.containerSosmed {
    width: 100%;
    height: 100%;

    .container {

        .sosmed {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 30px;

            .perSosmed {
                width: calc(90%/3);
                display: flex;
                align-items: center;
                margin: 20px 0;

                &:hover strong {
                    color: var(--biru-cerah);
                }

                p {
                    font-size: .9rem;
                    margin-top: 10px;
                }

                .icon {
                    // width: 50px;
                    // height: 50px;
                    padding: 10px;
                    font-size: 1.3rem;
                    margin-right: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    color: var(--putih);
                    background-color: var(--putih-f2);
                }
            }
        }
    }
}



.containerClient {
    width: 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 0;
    background-color: var(--biru-cerah);

    .clientTitle {
        display: flex;
        align-items: center;

        h2 {
            font-size: 2rem;
            margin-right: 100px;
            color: var(--putih);
        }

        p {
            max-width: 630px;
            font-size: 1.4rem;
            color: var(--putih);
        }
    }
}




.containerKerjasama {
    width: 100%;
    padding: 0;
    background-color: var(--biru-cerah);

    .container {
        width: 95%;
        padding: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--hero);
        border-top-right-radius: 100px;

        .caption {
            width: 45%;

            h2 {
                color: var(--putih);
                letter-spacing: .5px;
                line-height: 50px;
                font-size: 2.3rem;
                margin-bottom: 20px;
            }

            p {
                color: var(--putih);
                font-size: 1.2rem;
                letter-spacing: .5px;
                line-height: 27px;
            }


        }

    }
}


/* footer start */
.footer {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: var(--biru-cerah);

    .container {
        width: 95%;
        padding: 0 100px;
        padding-bottom: 100px;
        background-color: var(--hero);
        display: flex;
        flex-wrap: wrap;

        .box {
            flex: 1 1 15rem;
            margin: 1rem;

            h2 {
                font-size: 2rem;
                font-weight: 600;
                padding: 1rem 0;
                color: var(--putih);
            }

            p {
                font-size: 1rem;
                padding: .5rem 0;
                line-height: 25px;
                margin-bottom: 30px;
                color: var(--putih);
            }

            a {
                font-size: 1rem;
                padding: .5rem 0;
                display: flex;
                color: var(--putih);

                &.pencipta {
                    padding: 0;
                    display: inline-block;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}



footer {
    width: 100%;
    height: 8vh;
    margin: 0;
    background-color: var(--biru-cerah);

    .container {
        width: 95%;
        padding-left: 100px;
        font-size: 1.1rem;
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: left;
        background-color: var(--hero);

        p {
            color: var(--putih);

            span {
                color: #FE4F63;
                font-size: 23px;
                margin: 0 0.1rem;
            }
        }
    }

}

/* footer end */











// page comunity start
.comunity {
    width: 100%;
    height: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .perComunity {
            width: calc(90%/3);
            height: 250px;
            margin: 10px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            border-radius: 10px;
            box-shadow: var(--shadow-header);

            .icon {
                font-size: 2.5rem;
                color: var(--putih);
            }

            strong {
                font-size: 1.2rem;
            }

            p {
                line-height: 22px;
            }
        }
    }
}


// page comunity end




// Detail Kelas start
.heroDetailKelas {
    width: 100%;
    height: 100vh;
    // min-height: 80vh;
    max-height: 100%;
    background-color: var(--hero);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .caption {
            width: 60%;

            h1 {
                font-size: 2rem;
                margin-bottom: 30px;
                color: var(--putih);
            }

            p {
                font-size: 1.1rem;
                font-weight: 500;
                line-height: 30px;
                color: var(--putih);
                margin-bottom: 20px;
            }

            .keterangan {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 30px 0;

                .perKeterangan {
                    display: flex;
                    align-items: center;

                    .icon {
                        width: 20px;
                        height: 20px;
                        color: var(--putih);
                        fill: var(--putih);
                        margin-right: 10px;
                    }
                }
            }

            a {
                padding: 12px 25px;
            }
        }


        img {
            width: 40%;
            height: 300px;
            background-size: cover;
            object-fit: cover;
            margin-left: 20px;
            border-radius: 20px;
        }
    }
}









.detailKelas {

    .container {
        display: flex;
        justify-content: center;


        h2 {
            font-size: 1.5rem;
            color: var(--biru-cerah);
            margin-bottom: 20px;
        }


        .tentangKelas {
            width: 70%;
            margin-right: 20px;

            .perTentangKelas {
                padding: 30px 20px;
                margin: 20px 0;
                border-radius: 10px;
                border: var(--border);
                background-color: var(--putih);

                ul li {
                    padding: 10px;
                    margin-left: 20px;
                    list-style: decimal;
                    font-weight: 500;
                }

                p {
                    line-height: 27px;
                    font-weight: 450;
                    margin: 20px 0;
                }

                .materi {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    a {
                        width: 100%;
                        padding: 20px;
                        margin: 5px 0;
                        font-weight: 550;
                        border-radius: 10px;
                        background-color: #EFF2F6;
                    }
                }
            }
        }


        .infoKelas {
            width: 30%;
            position: sticky;
            top: 11vh;
            align-self: flex-start;

            .perInfoKelas {
                padding: 30px 20px;
                margin: 20px 0;
                border-radius: 10px;
                border: var(--border);
                background-color: var(--putih);

                .infoMateri {
                    display: flex;
                    align-items: center;
                    padding: 10px 20px;
                    margin: 10px 0;
                    font-weight: 500;
                    border-radius: 10px;
                    background-color: #EFF2F6;

                    img {
                        height: 40px;
                        margin-right: 10px;
                    }
                }

                .mentor {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin-right: 10px;
                        background-color: var(--putih-900);
                    }

                    p {
                        font-weight: 500;
                    }
                }
            }
        }


    }
}

// Detail Kelas end








// Per Detail Kelas Start
.heroMateri {
    width: 100%;
    height: 100vh;
    background-color: var(--hero);

    .container {

        img,
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.containerMateri {
    width: 100%;
    height: 100%;

    .container {
        display: flex;
        // align-items: center;
        justify-content: space-between;

        .detailMateri {
            width: 65%;
            margin-right: 20px;

            &>* {
                margin: 20px 0;
            }

            .infoMateri {
                width: 100%;
                // height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px;
                border-radius: 10px;
                border: var(--border);
                position: relative;

                .kanan {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                h2 {
                    font-size: 1.2rem;
                    margin-left: 20px;
                }

                .icon {
                    width: 40px;
                    height: 40px;
                    // top: 10px;
                    // position: absolute;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
                    background-color: var(--putih);
                    transition: .5s;

                    &:hover {
                        color: var(--putih);
                        background-color: var(--biru-cerah);
                    }
                }
            }


            article {
                width: 100%;
                padding: 20px;
                border-radius: 10px;
                border: var(--border);

                ul {
                    margin: 10px 0;

                    li {
                        margin: 5px 0 5px 20px;
                        list-style: initial;
                        // list-style: disc;
                    }
                }

                p {
                    margin: 5px 0;
                }
            }


            .komentar {
                width: 100%;
                height: 100%;
                margin-top: 50px;

                .tulisKomentar {
                    width: 100%;
                    padding: 15px;
                    cursor: pointer;
                    display: flex;
                    margin-bottom: 50px;
                    align-items: center;
                    border-radius: 7px;
                    border: 2px dashed rgba(0, 0, 0, 0.1);
                    background-color: var(--putih);

                    img {
                        width: 35px;
                        height: 35px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin-right: 15px;
                        background-color: var(--putih-900);
                    }
                }

                .perKomentar {
                    width: 100%;
                    // height: 100%;
                    margin-top: 30px;

                    .balasan {
                        margin-top: 20px;
                        margin-left: 50px;
                    }

                    .profil {
                        display: flex;
                        align-items: center;

                        img {
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            border-radius: 50%;
                            margin-right: 15px;
                            background-color: var(--putih-900);
                        }

                        .caption {
                            display: flex;
                            flex-direction: column;

                            .nama {
                                display: flex;
                                align-items: center;

                                svg {
                                    color: var(--biru-cerah);
                                    margin-left: 10px;
                                }
                            }

                            span {
                                font-size: .9rem;
                            }
                        }
                    }

                    .isiKomentar {
                        margin: 20px 0;
                    }

                    .cta {
                        width: 100%;
                        height: 100%;
                        padding: 7px 20px;
                        border-radius: 7px;
                        background-color: var(--putih-mandan-ireng);
                    }
                }
            }
        }

        .KeteranganSeries {
            width: 35%;
            height: 100vh;
            top: 15vh;
            position: sticky;
            align-self: flex-start;

            &>* {
                width: 100%;
                padding: 20px;
                margin: 20px 0;
                border-radius: 10px;
                border: var(--border);
            }

            .titleSeries {

                h2 {
                    font-size: 1rem;
                    margin-bottom: 20px;
                }

                p {
                    font-size: .9rem;
                }
            }


            .detailSeries {
                height: 400px;
                padding: 0;
                overflow-y: auto;

                .perEpisode {
                    width: 100%;
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                    &.active {
                        background-color: var(--biru-cerah) !important;

                        p {
                            color: var(--putih);
                        }

                        .icon {
                            color: var(--biru-cerah);
                        }
                    }

                    &:hover {
                        background-color: #80a1fc;
                    }

                    .icon {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;
                        border-radius: 50%;
                        background-color: var(--putih-900);
                    }
                }
            }
        }
    }
}

// Per Detail Kelas End






.containerAlesan {
    width: 100%;
    height: 100%;

    .container {
        padding: 50px 20px;
        border-radius: 10px;
        background-color: var(--biru-cerah);

        h1 {
            color: var(--putih);
            font-size: 2rem;
        }

        .alesan {
            width: 100%;
            height: 100%;
            padding-top: 50px;
            display: flex;
            justify-content: space-between;

            .perAlesan {
                width: calc(90%/3);
                max-height: 350px;
                margin: 10px 0;
                padding: 20px;
                border-radius: 10px;
                background-color: var(--putih);

                h2 {
                    margin: 10px 0;
                    font-size: 1.3rem;
                }

                p {
                    font-weight: 500;
                    font-size: .9rem;
                }

                img {
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }
}








// kontak kami
.kontak {
    width: 100%;
    // height: 100vh;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .caption,
        img {
            height: 100%;
            width: 50%;
        }

        .caption {
            margin-left: 50px;


            h1 {
                font-size: 2.1rem;
                margin-bottom: 20px;
            }
        }
    }
}


















// page PrivacyPolicy start 
.VisiMisi,
.TermsCondition,
.PrivacyPolicy {
    width: 100%;
    height: 100%;

    .visi {
        font-style: italic;
        font-weight: 700;
    }

    p {
        margin: 20px 0;
        font-size: 1.1rem;
        line-height: 30px;
    }

    ul li {
        padding: 10px;
        font-size: 1.1rem;
        margin-left: 20px;
        line-height: 30px;
        list-style: decimal;
    }

    h2 {
        margin: 10px 0;
        font-size: 1.3rem;
    }
}

// page PrivacyPolicy end








// Page Artikel Start
.artikel {
    width: 100%;
    height: 100%;
    background-color: #eff2f6;

    .container {
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .perArtikel {
            width: calc(90%/3);
            max-height: 600px;
            margin: 15px 10px;
            border-radius: 10px;
            position: relative;
            border: var(--border);
            background-color: var(--putih);

            &:hover {
                h2 {
                    color: var(--biru-cerah);
                }
            }

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background-color: var(--putih-900);
            }

            h2 {
                font-size: 1.3rem;
                line-height: 27px;
                text-transform: capitalize;
                margin: 10px 0;
                padding: 0 10px;
            }

            P {
                // font-weight: 450;
                padding: 0 10px;
                margin-bottom: 100px;
            }

            .cta {
                position: absolute;
                left: 10px;
                right: 10px;
                bottom: 10px;
                // padding: 10px;

                button {
                    width: 100%;
                }
            }
        }
    }
}

// Page Artikel End







/* Halaman Per Artikel start */
.contentArtikel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 80%;

        .titleArtikel {
            font-size: 2rem;
            font-weight: 700;
            line-height: 40px;
        }


        .writer {
            font-size: 1rem;
            margin: 20px 0;
        }

        .thumbnail {
            width: 100%;
            height: 400px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 20px;
            background-color: var(--putih-900);
        }

        .mainArtikel {

            h3 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1rem;
                margin: 10px 0;
                line-height: 30px;
            }

            ul {
                margin: 20px 0;

                li {
                    padding: 7px;
                    margin-left: 20px;
                    list-style: disc;
                    font-weight: 500;
                }
            }

            a {
                color: var(--biru-cerah);

                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }
}



.komentar {
    width: 100%;
    height: 100%;

    .perKomentar {
        display: flex;
        flex-direction: column;
        margin: 40px 0;

        .profil {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            img {
                width: 45px;
                height: 45px;
                object-fit: cover;
                border-radius: 50%;
                background-color: var(--putih-900);
            }

            .nama {
                margin-left: 15px;

                h3 {
                    font-size: 1.3rem;
                }

                p {
                    font-size: .9rem;
                }
            }
        }
    }
}