:root {
    --shadow-header: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    --background-heroHome: linear-gradient(to top right, #450b7c, #563cc9, #49e9fb);
    --background-header: linear-gradient(to right, #450b7c, #563cc9);
    --kuningCerah: rgb(255, 160, 17);
    --putih-mandan-ireng: rgb(231, 231, 231);
    --bg-mandanGelap: #F6F8FD;

    --hero: #111827;

    --hitam-santai: #302f2f;
    --putih: #fff;
    --putih-f2: #f2f2f2;
    --putih-900: #F2F4F7;
    --ungu: #963EFF;
    --kuning: #FCE354;
    --biru-cerah: #1352FF;
    --border: 2px solid #e4e4e7;


    /* btn */
    --danger: #dc3545;
    --primary: #007bff;
    --warning: #ffc107;
    --dark: rgb(55 65 81);


    --danger-hover: #c52939;
    --primary-hover: #0070e7;
    --warning-hover: #e2ab06;
    --dark-hover: #2F3949;

    --border-table: 1px solid #dee2e6;
    --table-dark: #343a40;
    --tr: rgba(0, 0, 0, 0.05);


    --outline-input: #0176f4bd;
    --outline-button: #63aeffbd;
    --outline-warning: #ffe601f1;
    --outline-white: rgb(207, 207, 207);
    --outline-dark: #717172;




    --tw-gradient-to: #06b6d4;
    --tw-gradient-from: #0d6efd;
    --tw-gradient-stops: #0d6efd,
        #22d3ee,
        #06b6d4;
    // rgba(34, 211, 238, 0)
    // --tw-gradient-stops: var(--tw-gradient-from, #22d3ee, var(--tw-gradient-to, rgba(34, 211, 238, 0)));
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    font-display: sans-serif;
    word-wrap: break-word;
    scroll-behavior: smooth;
}


body {
    background-color: var(--putih);
    overflow-x: hidden;
}


button {
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
label,
span,
a {
    color: var(--hitam-santai);
}


article,
section {
    padding: 0 100px;
}

.w-100 {
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.d-none {
    display: none;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: var(--primary);
}

.fw-600 {
    font-weight: 600;
}


.overflow-x-auto {
    overflow-x: auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

.pt-15-vh {
    padding-top: 15vh;
}

.pt-100 {
    padding-top: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-100 {
    padding-bottom: 100px;
}

.m-0 {
    margin: 0 !important;
}

.ml-20 {
    margin-left: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-50 {
    margin-top: 50px;
}


.text-white {
    color: var(--putih);
}

.text-uppercase {
    text-transform: uppercase;
}



.text-dark {
    color: var(--hitam-santai) !important;
}

.bg-agakGelap {
    background-color: var(--bg-mandanGelap);
}

.bg-biru-cerah {
    background-color: var(--biru-cerah);
}

.bg-white {
    background-color: var(--putih) !important;
}





.btn {
    display: inline-block;
    padding: 8px 25px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    background-color: var(--putih-900);
}


.btn:focus {
    outline: 2px solid var(--outline-button);
}

.btn-danger {
    color: var(--putih);
    background-color: var(--danger);
    border-color: var(--danger);
}

.btn-danger:hover {
    background-color: var(--danger-hover);
}

.btn-danger:focus {
    outline: 2px solid var(--outline-danger);
}


.btn-primary {
    color: var(--putih) !important;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-primary:hover {
    background-color: var(--primary-hover);
}

.btn-warning {
    background-color: var(--warning);
    border-color: var(--warning);
}

.btn-warning:hover {
    background-color: var(--warning-hover);
}

.btn-warning:focus {
    outline: 2px solid var(--outline-warning);
}

.btn-white {
    background-color: var(--putih);
    border-color: var(--putih);
}

.btn-white:focus {
    outline: 2px solid var(--outline-warning);
}

.btn-dark {
    color: var(--putih);
    background-color: var(--dark);
    border-color: var(--dark);
}

.btn-dark:hover {
    background-color: var(--dark-hover);
}

.btn-dark:focus {
    outline: 2px solid var(--outline-dark);
}







.modalContainer.active {
    transform: translateY(0);
}

.modalContainer.active {
    transform: translateY(0);
}

.modalContainer {
    width: 100%;
    height: 100vh;
    position: fixed;
    padding: 20px;
    top: 0;
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    transform: translateY(-120%);
    background-color: rgba(0, 0, 0, 0.5);

    .modal {
        width: 50%;
        max-height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        border-radius: 7px;
        border: var(--border);
        background-color: var(--putih);

        .modal-title {
            padding: 10px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: var(--border);

            .icon {
                font-size: 1.7rem;
                cursor: pointer;
                transition: .1s;

                &:hover {
                    color: var(--biru-cerah);
                }
            }
        }

        .modal-body {
            padding: 20px;
            border-bottom: var(--border);
        }

        .modal-footer {
            padding: 20px;
        }
    }

}