.btn {
  background-color: var(--putih);
}

img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.Event {
  width: 100%;
  height: 100%;
  background-color: var(--putih-f8fafc);
}

.Event .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Event .container .sorting {
  width: 30%;
  top: 15vh;
  position: -webkit-sticky;
  position: sticky;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.Event .container .sorting h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #4a4b4c;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.Event .container .sorting .boxUrutkan {
  width: 90%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--putih);
  border: 1px solid #e4e4e7;
  border-radius: 7px;
  color: var(--hitam-santai);
  padding: 1rem;
  margin-bottom: 30px;
  position: relative;
}

.Event .container .sorting .boxUrutkan:hover {
  cursor: pointer;
}

.Event .container .sorting .boxUrutkan span {
  font-weight: 600;
}

.Event .container .sorting .boxUrutkan .isiBoxUrutkan {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 9999999999;
  background-color: var(--putih);
  border: 1px solid #e4e4e7;
  border-radius: 7px;
  padding: .5rem 0;
}

.Event .container .sorting .boxUrutkan .isiBoxUrutkan.showIsiBoxUrutkan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Event .container .sorting .boxUrutkan .isiBoxUrutkan span {
  padding: 1rem;
}

.Event .container .sorting .boxUrutkan .isiBoxUrutkan span:hover {
  background-color: #afc0ff;
  cursor: pointer;
}

.Event .container .sorting .boxUrutkan .isiBoxUrutkan span.active {
  background-color: #5441fa;
  border: 1px solid #e4e4e7;
  color: var(--putih);
}

.Event .container .sorting .boxUrutkan .isiBoxUrutkan span.active:hover {
  background-color: #5441fa;
  cursor: pointer;
}

.Event .container .sorting .filterProgram .boxFilterProgram {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--putih);
  border: 1px solid #e4e4e7;
  border-radius: 7px;
  padding: 1rem 0;
  position: relative;
}

.Event .container .sorting .filterProgram .boxFilterProgram .btnEvent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.Event .container .sorting .filterProgram .boxFilterProgram .btnEvent button {
  width: 80%;
  padding: 7px 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  color: var(--putih);
  font-weight: 600;
  background-color: #2B46A6;
  border-radius: 7px;
  border: 2px solid #2B46A6;
  text-transform: capitalize;
}

.Event .container .sorting .filterProgram .boxFilterProgram .btnEvent button:last-child {
  background-color: var(--putih);
  color: var(--hitam-santai);
  border: var(--border);
}

.Event .container .sorting .filterProgram .boxFilterProgram .perFilterProgram {
  overflow-y: hidden;
}

.Event .container .sorting .filterProgram .boxFilterProgram .perFilterProgram .keterangan {
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Event .container .sorting .filterProgram .boxFilterProgram .perFilterProgram .keterangan:hover {
  cursor: pointer;
  background-color: #e4e4e7;
}

.Event .container .sorting .filterProgram .boxFilterProgram .perFilterProgram .keterangan span {
  font-weight: 600;
  text-transform: capitalize;
}

.Event .container .sorting .filterProgram .boxFilterProgram .perFilterProgram .isiFilterProgram {
  height: 100%;
  padding: 0 1rem;
}

.Event .container .sorting .filterProgram .boxFilterProgram .perFilterProgram .isiFilterProgram.hideIsiFilterProgram {
  height: 0;
}

.Event .container .sorting .filterProgram .boxFilterProgram .perFilterProgram .isiFilterProgram .perIsiFilterProgram {
  margin: 10px 0;
}

.Event .container .sorting .filterProgram .boxFilterProgram .perFilterProgram .isiFilterProgram .perIsiFilterProgram label {
  font-weight: 500;
  margin-left: 10px;
}

.Event .container .program {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Event .container .program .keteranganProgram {
  width: 100%;
  padding: 10px 0;
  border-bottom: 4px solid #e4e4e7;
  background-color: var(--putih-f8fafc);
  top: 10vh;
  position: -webkit-sticky;
  position: sticky;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 30px;
  z-index: 999999;
}

.Event .container .program .keteranganProgram span {
  color: #3629a7;
  position: relative;
  padding: 0 20px;
  font-weight: 600;
  cursor: pointer;
}

.Event .container .program .sorting {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
  position: static;
}

.Event .container .program .sorting .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  color: #4a4b4c;
  border-radius: 7px;
  border: var(--border);
  background-color: var(--putih-f8fafc);
  cursor: pointer;
}

.Event .container .program .sorting .filter h2 {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-size: 1rem;
}

.Event .container .program .sorting .urutkan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  color: #4a4b4c;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 7px;
  background-color: var(--putih);
  border: var(--border);
  /* transform: translateY(-10px); */
}

.Event .container .program .sorting .urutkan h2 {
  margin: 0;
  margin-right: 100px;
  font-size: 1rem;
}

.Event .container .program .sorting .urutkan .isiBoxUrutkan {
  display: none;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* z-index: 9999999999; */
  background-color: var(--putih);
  border: 1px solid #e4e4e7;
  border-radius: 7px;
  padding: .5rem 0;
}

.Event .container .program .sorting .urutkan .isiBoxUrutkan.showIsiBoxUrutkan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Event .container .program .sorting .urutkan .isiBoxUrutkan .perIsiBoxUrutkan {
  width: 100%;
  padding: 1rem;
}

.Event .container .program .sorting .urutkan .isiBoxUrutkan .perIsiBoxUrutkan.active {
  background-color: #5441fa;
  border: 1px solid #e4e4e7;
}

.Event .container .program .sorting .urutkan .isiBoxUrutkan .perIsiBoxUrutkan.active:hover {
  background-color: #5441fa;
}

.Event .container .program .sorting .urutkan .isiBoxUrutkan .perIsiBoxUrutkan.active span {
  color: var(--putih);
}

.Event .container .program .sorting .urutkan .isiBoxUrutkan .perIsiBoxUrutkan:hover {
  background-color: #afc0ff;
  cursor: pointer;
}

.Event .container .program .sorting .urutkan .isiBoxUrutkan .perIsiBoxUrutkan span {
  color: var(--hitam-santai);
  font-weight: 600;
}

.Event .container .program .sudahBerakhir {
  width: 100%;
  height: 70vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Event .container .program .sudahBerakhir h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
  color: #CE231C;
}

.Event .container .program .masihBerlangsung {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Event .container .program .masihBerlangsung .perMasihBerlangsung {
  width: calc(90%/2);
  max-height: 700px;
  background-color: var(--putih);
  border: var(--border);
  padding-bottom: 15px;
  border-radius: 10px;
  margin: 20px 10px;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

.Event .container .program .masihBerlangsung .perMasihBerlangsung:hover h2 {
  color: var(--biru-cerah);
}

.Event .container .program .masihBerlangsung .perMasihBerlangsung h2 {
  font-size: 1.3rem;
  line-height: 27px;
  margin: 10px 0;
  padding: 0 10px;
  text-transform: capitalize;
}

.Event .container .program .masihBerlangsung .perMasihBerlangsung h3 {
  font-size: 1.2rem;
  color: #CE231C;
  padding: 10px;
  margin: 10px 0 50px 0;
  font-weight: 600;
}

.Event .container .program .masihBerlangsung .perMasihBerlangsung img {
  width: 100%;
  height: 250px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--putih-900);
}

.Event .container .program .masihBerlangsung .perMasihBerlangsung p {
  padding: 10px;
}

.Event .container .program .masihBerlangsung .perMasihBerlangsung .btnEvent {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.Event .container .program .masihBerlangsung .perMasihBerlangsung .btnEvent button {
  width: 100%;
}

.Event .container .program .masihBerlangsung .perMasihBerlangsung .btnEvent button :hover {
  opacity: .9;
}
/*# sourceMappingURL=event.css.map */